
.navbar-brand a {
  margin-left: auto;
  text-align: center;

}
.navbar-brand img {
  padding: 2px;
}

.jumbotron {
  background-image:url('http://s3.amazonaws.com/fjds/member/original/789318/LLS_logo_rgb_72dpi_lg.jpg?1426706468');
  width: 95em;
  height: 21em;
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
}

.tracker {
  text-align: center;
  padding-top: 6em;
}

.tracker_table_search {
  padding: 2em;
  padding-top: 9em;
}

.tracker_table_admin{
  padding: 2.5em;
  padding-top: 4em;
}

.page_content {
  padding: 2em;
  padding-top: 9em;
}

div.ui-datepicker {
 font-size: 200%;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #004698 none;
	color: white;
}

table.ui-datepicker-calendar {
  border-collapse: separate;
}

.ui-datepicker-calendar td {
  border: 1px solid transparent;
}

.container{
  width: 90em; height: 23em;  padding-top: 3em;
}

.login{
  padding-left: 81em;
  float: right;
  text-align:right;
}

#datepicker {
  padding-bottom: 6em;
}

#content {
  padding-top: 1em;
  text-align: center;
  position: relative;
}

#admin_space {
  padding-left: 15px;
}

#writing {
  color: #004698;
}

#chartdiv {
  text-align: center;
  top:0;
  position: absolute;
  z-index: -1;
  width: 100%;
}

#editPage {
  padding: 2em;
  padding-top: 4em;

}

#edit_content {
  background-color: #004698;
  text-align: center;
  margin:auto;
  width: 500px;
  padding: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 15px;
}
